{% extends 'base.html'%}

{% block content %}

<div class="parent">
  <div class="sidebar">
    <p id="user-link"><a href="/users/{{user.id}}/edit">{{user.name}}</a></p>
    <form action="/users/{{user.id}}/items/new">
        <input type="submit" class="pay-button"value="Make a new Payment" />
    </form>
    <br>
    <a class="nav-link" href="/users/{{user.id}}">Overview</a>
    <a class="nav-link" href="/users/{{user.id}}/merchants">Top 5</a>
    <br>
    <div class="month-dropdown">
    {% for date in transaction_dates %}
        <a class="month-box"href="{{user.id}}/{{date}}">{{date[5:7]}}/{{date[0:4]}}</a>
    {% endfor %}
    </div>
  </div>
  <!-- main -->
  <div class="main">
    <div class="form-background">

      <form action="/users/{{user.id}}/transactions" method="post" class="center">
        <br>
        <div>
          <label for="item name">Item name:</label>
          <input type="text" id="item" name="item" placeholder="Type Here" required>
        </div>
        <br>
    
          <label for="merchant">Select a Payee:</label>
            <select class="input-box"name="merchant" id="merchant">
              {% for merchant in merchants %}
              <option value="{{ merchant.id }}">{{ merchant.name }}</option>
              {% endfor %}
            </select>
            <a href="/users/{{user.id}}/merchants/new">Add payee</a>
            <br>
            <br>
          
          <label for="tag">Select a Tag:</label>
          <select class="input-box" name="tag" id="merchant">
            {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.name }}</option>
            {% endfor %}
          </select>
          <a href="/users/{{user.id}}/tags/new">Add tag</a>
          <br>
          <br>
          <div>
            <label for="item cost">Cost:</label>
            <input type="number" id="cost" name="cost" placeholder="£" required>
          </div>
          <br>
          <div>
            <label for="time">Date and Time:</label>
            <input type="text" id="time" name="time" placeholder="YYYY-MM-DD H:M:S" required>
          </div>
          
          
    
        <button class = "pay-button-mini"type="submit">Pay</button> 

      </form>
    </div>
      
  </div>
</div>






{% endblock %}