{% extends 'base.html'%}

{% block content %}
<h1>New Payment</h1>

{{user.id}} {{user.name}}

<form action="/" method="post">
<!-- 
  <div class="dropdown">
    <span class = box>
      {%for merchant in merchants %}
      {% if loop.index <= 1 %}
      <option value={{merchant.id}} class="dropbtn">{{merchant.name}}</option>
      {% endif %}
      {% endfor %}
      
    </span>
    <div class="dropdown-content">
        {% for merchant in merchants %}
        {% if loop.index > 1%}
        <a><option value="{{merchant.id}}">{{merchant.name}}</option></a>
        {% endif %}
        {% endfor %}
        <a>Add Merchant</a>
    </div>
  </div> -->

    <label for="item">Select an Item:</label>
    <select name="item_id" id="item">
      {% for item in items %}
      <option value="{{ item.id }}">{{ item.name }}</option>
      {% endfor %}
    </select>
    <a href="/items/new">New Item</a>
    <br>  

    <!-- <label for="merchant">Select a Merchant:</label>
      <select name="merchant_id" id="merchant">
        {% for merchant in merchants %}
        <option value="{{ merchant.id }}">{{ merchant.name }}</option>
        {% endfor %}
      </select>
      <a href="/merchants/{{user.id}}/new">New merchant</a>
      <br> -->



    <label for="items">Buy an item:</label>
      <datalist id="suggestions" name = "item_id">
        {% for item in items %}
        <option>{{ item.name }}</option>
        {% endfor %}
      </datalist>
      <input  autoComplete="on" list="suggestions"/> 
    <br>

  <button type="submit">Make Transaction</button>
</form>

{% endblock %}