{% extends 'base.html'%}

{% block content %}
<h1>New Payment</h1>

{{user.id}} {{user.name}}

<label value={{user.id}} name=userid>{{user.id}}</label>

<form action="/{{user.id}}/items" method="post">


  <div>
    <label for="item name">Item name:</label>
    <input type="text" id="item" name="item" placeholder="Item name" required>
  </div>

    <!-- <div>
    <label for="item name">Item name:</label>
      <datalist id="suggestions" name = "item">
        {% for item in items %}
        <option>{{ item.name }}</option>
        {% endfor %}
      </datalist>
      <input  autoComplete="on" list="suggestions"/> 
    </div> -->

    <label for="merchant">Select a Merchant:</label>
      <select name="merchant" id="merchant">
        {% for merchant in merchants %}
        <option value="{{ merchant.id }}">{{ merchant.name }}</option>
        {% endfor %}
      </select>
      <a href="/merchants/{{user.id}}/new">Add merchant</a>
      <br>

    
    <label for="tag">Select a Tag:</label>
    <select name="tag" id="merchant">
      {% for tag in tags %}
      <option value="{{ tag.id }}">{{ tag.name }}</option>
      {% endfor %}
    </select>
    <a href="/tags/{{user.id}}/new">Add tag</a>
    <br>

    <div>
      <label for="item cost">Cost:</label>
      <input type="number" id="cost" name="cost" placeholder="£" required>
    </div>


  <button type="submit">Buy Item</button>

</form>

{% endblock %}