{% extends 'base.html'%}

{% block content %}
<h1>Spending Tracker</h1>

<p>{{user.id}} : {{user.name}}, daily allowance: {{user.daily_allowance}}, money: {{user.money}}</p>

<!-- <a href="{{user.id}}/merchants">merchants</a> -->
<a href="/{{user.id}}/users/edit">Edit Account</a><br>
<a href="/{{user.id}}/users/delete">Delete Account</a><br>
<a href="/{{user.id}}/transactions/new">New Transaction</a><br>
<a href="/{{user.id}}/items/">Purchase item again</a><br>
<a href="/{{user.id}}/items/new">Make a new payment</a><br>

{% for transaction in transactions if transaction.user.id==user.id %}
{{transaction.user.id, transaction.merchant.name, transaction.item.name, transaction.item.tag.name, transaction.item.cost, transaction.time}}
{% endfor %}

{% endblock %}