{% extends 'base.html'%}

{% block content %}

<div class="parent">
    <div class="sidebar">
        <p id="user-link"><a href="/users/{{user.id}}/edit">{{user.name}}</a></p>
        <form action="/users/{{user.id}}/items/new">
            <input type="submit" class="pay-button"value="Make a new Payment" />
        </form>
        <br>
        <a class="nav-link-active" href="/users/{{user.id}}">{{month_fmt}}</a>
        <a class="nav-link" href="/users/{{user.id}}/merchants">Stats</a>
        <br>
        <div class="month-dropdown">
        {% for date in transaction_dates %}
            <a class="month-box"href="{{user.id}}/{{date}}">{{date[5:7]}}/{{date[0:4]}}</a>
        {% endfor %}
        </div>
    </div>
    <!-- main content -->
    <div class="main">
        <br>
        <div class="top-bar">
            <div id="money-main">£{{user.money}}</div>
            <br>
            <div box class="month-format">
                <div class="same-line" id="green-month">{{green_if_monthly}}</div>
                <div class="same-line" id="red-month">{{red_if_monthly}}</div>
                <div class="same-line">£{{user.daily_allowance}} monthly allowance</div>
            </div>
        </div>
        <br>
        {% for transaction in user_transacts if transaction.today %}
        <div class="dropdown2">
                <div class="dropbtn2">
                    {{transaction.merchant.name}}
                    -£{{transaction.item.cost}}
                </div>
            </span>
            <div class="dropdown-content2">
                <div class="sub-date">{{transaction.time[8:10]}}/{{transaction.time[5:7]}}/{{transaction.time[0:4]}} {{transaction.time[10:19]}}</div>
                {{transaction.item.name.capitalize()}}<br>
                <div class="pie no-round" style="--p:{{transaction.item.tag.times_used}};--c:#4285f4;--b:100px"></div> {{transaction.item.tag.name.capitalize()}} makes up {{transaction.item.tag.times_used}}% of your purchases
            </div>
        </div>
        {% endfor %}
        
        
        <div class="dropdown2">
            <div class="dropbtn2">
                <div class="sub-date">today</div>
            </div>
        </div>

        {% for transaction in user_transacts if not transaction.today %}
        <div class="dropdown2">
                <div class="dropbtn2">
                    {{transaction.merchant.name}}
                    -£{{transaction.item.cost}}
                </div>
            </span>
            <div class="dropdown-content2">
                <div class="sub-date">{{transaction.time[8:10]}}/{{transaction.time[5:7]}}/{{transaction.time[0:4]}} {{transaction.time[10:19]}}</div>
                {{transaction.item.name.capitalize()}}<br>
                <div class="pie no-round" style="--p:{{transaction.item.tag.times_used}};--c:#4285F4;--b:100px"></div> {{transaction.item.tag.name.capitalize()}} makes up {{transaction.item.tag.times_used}}% of your purchases
            </div>
        </div>
        {% endfor %}



    </div>
    

</div>





<!-- <a href="{{user.id}}/merchants">merchants</a> -->





{% endblock %}