{% extends 'base.html'%}

{% block content %}

<div class="parent">
    <div class="sidebar">
      <p id="user-link"><a href="/users/{{user.id}}/edit">{{user.name}}</a></p>
      <form action="/users/{{user.id}}/items/new">
          <input type="submit" class="pay-button"value="Make a new Payment" />
      </form>
      <br>
      <a class="nav-link" href="/users/{{user.id}}">Overview</a>
      <a class="nav-link" href="/users/{{user.id}}/merchants">Top 5</a>
      <br>
  
    </div>
    <!-- main -->
    <div class="main">
      <div class="form-background">

        <form action="/users/{{user.id}}/merchants" method="post">
            <div>
              <label for="name">Merchant Name:</label>
              <input type="text" id="merchant_name" name="merchant_name" placeholder="Merchant Name" required autofocus>
            </div>
          
            <button type="submit">Create Merchant</button>
          
        </form>
        

      </div>
    </div>
  </div>
  


{% endblock %}